**/node_modules/
/node_modules/

**/ipfs/
**/orbitdb/

**/dist/
**/build/

**/coverage/

**/.env
**/.env.local
**/.env.development
**/.env.test

.env
.env.local
.env.development
.env.test

**/yarn.lock
**/package-lock.json

yarn.lock
package-lock.json

**/yarn-error.log
**/npm-debug.log
**/pnpm-debug.log

yarn-error.log
npm-debug.log
pnpm-debug.log

**/test-results.xml
**/test-results.html
**/test-results.json

**/assets/
**/public/


**/.DS_Store

**/coverage