._heart_bit_container_1uwxm_1 {
  margin: auto;
  
}

.tw-connected-wallet {
  height: 46px !important;
  margin-bottom: 2px !important;
  background-color: #1f2937 !important;
  border-radius: 6px !important;
}